# Node
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
*.lock

# OS/IDEs
.DS_Store
.idea/
.vscode/
*.iml

# Secrets & Config
.env
firebase-admin.json
google-services.json
GoogleService-Info.plist
*.p8
